<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ascii Art Generator</title>
  </head>
  <body>
    <h1>ASCII ART Generator</h1>
    <form action="/ascii/" method="POST">
      <label for="text">Text Content</label>
      <input type="text" id="text" name="text" required />
      <br /><br />
      <label for="Choose a Template"></label>
      <br />
      <input
        type="radio"
        name="template"
        id="standard"
        value="standard"
        required
      />
      <label for="standard">Standard</label>
      <input type="radio" name="template" id="shadow" value="shadow" required />
      <label for="shadow">Shadow</label>
      <input
        type="radio"
        name="template"
        id="thinkertoy"
        value="thinkertoy"
        required
      />
      <label for="thinkertoy">Thinkertoy</label>
      <br /><br />
      <button type="submit">submit</button>

      <h2>Result:</h2>

      <pre>{{.ASCIIART}}</pre>
    </form>
  </body>
</html>
